* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

header {
  background-color: rgb(246, 245, 207);
  padding: 20px 0 10px 0;
}

h1 {
  text-align: center;
  margin: 0;
}
.start-canvas-btn {
  position: relative;
  top: 35%;
  left: 45%;
  font-size: xx-large;
  padding: 40px 80px;
  border-radius: 10px;
  border: transparent;
  background-color: rgb(173, 218, 244);
}
.start-canvas-btn:hover,
.start-canvas-btn:hover {
  background-color: rgb(246, 245, 207);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.painting-space {
  /* height: 100vh; */
  height: calc(100vh - 105.5px);
  background-color: rgb(204, 231, 247);
}
.canvas-container.cursor {
  cursor: url(images/cursor.cur) 0 0, auto;
}

.shortcuts-open-btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  margin: 0;
  background-color: rgb(173, 218, 244);
  border-color: transparent;
  border-radius: 90px;
  font-size: 10px;
  width: 80px;
  height: 80px;
}
.shortcuts-open-btn:hover,
.shortcuts-open-btn:focus {
  background-color: rgb(160, 211, 241);
  box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.3);
}

footer {
  padding: 10px;
  background-color: rgb(246, 245, 207);
}

.copyright {
  margin: 0;
  text-align: center;
}

.shortcuts-modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: rgb(173, 218, 244);
  padding: 80px;
  border-radius: 5px;
  box-shadow: 0 48px 80px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: xx-large;
}

.shortcuts-list {
  display: flex;
  justify-content: space-around;
}
.shortcuts-list-item {
  list-style: none;
  font-size: x-large;
}

.shortcuts-close-btn {
  position: absolute;
  top: 20px;
  right: 32px;
  font-size: 40px;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.shortcuts-close-btn:hover,
.shortcuts-close-btn:focus {
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.3);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.hidden {
  display: none;
}
